@model employee
@{
    ViewData["Title"] = "delete";
}

<h1> are you delete @Model.EmployeeName</h1>

<form method="post" asp-action="delete">
    @Html.HiddenFor(x=>x.Id)
    <input type="submit"  value="delete" class="btn btn-danger" />
    <a asp-action="AllEmployee" asp-controller="Employee" class="btn btn-dark">back</a>
</form>

