@model employee
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="table table-bordered">
    <tr>
        <td><label asp-for="Id"></label></td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td><label asp-for="EmployeeName"></label></td>
        <td>@Model.EmployeeName</td>
    </tr>
    <tr>
        <td><label asp-for="City"></label></td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td><label asp-for="Email"></label></td>
        <td>@Model.Email</td>
    </tr>
</table>
<a asp-action="AllEmployee" class="btn btn-danger">back to list</a>