@model employee
@{
    ViewData["Title"] = "Edit";
}

<form method="post" asp-action="Edit">
    <table class="table table-bordered">
        <tr>
            <td><label asp-for="Id"></label></td>
            <td><input asp-for="Id" disabled class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="EmployeeName"></label></td>
            <td><input asp-for="EmployeeName" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="City"></label></td>
            <td><input asp-for="City" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" class="form-control" /></td>
        </tr>
        <tr>
            <td><label asp-for="departmentId"></label></td>
            <td>
                <select asp-for="departmentId" asp-items="ViewBag.name" class="form-control">
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="name" value="update" class="btn btn-primary" />
            </td>
        </tr>
    </table>
</form>

